<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🏫 NU:CLASS</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8781468706124486"
     crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <h1> 학생 반 배정 프로그램 📲 NU:CLASS</h1>
        <div class="button-group">
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="pdfUpload" class="pdf-button">PDF 파일 선택</label>
                <input type="file" id="pdfUpload" name="file" />
            </form>
            <button id="downloadExcelButton" class="excel-button">엑셀 다운로드</button>
            <button id="globalSwapButton" class="global-swap-button">바꾸기</button>
            <button id="globalMoveButton" class="global-move-button">다른 반으로 이동</button>
            <button id="resetClassDataButton" class="pdf-button" style="background-color: #f44336;">데이터 초기화</button>

            <!---
            <div class="notes-toggle-wrapper">
                <span>특이사항 입력</span>
                <label class="toggle-switch">
                    <input type="checkbox" id="toggleNotesCheckbox">
                    <span class="slider"></span>
                </label>  
            </div>
            -->


        </div>

        <!-- 현재 현황 -->
        <div id="statsContainer">
            <h2>현재 현황</h2>
            <table id="currentStats" border="1">
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>합계</th>
                        <th>이전 1반</th>
                        <th>이전 2반</th>
                        <th>이전 3반</th>
                        <th>이전 4반</th>
                        <th>이전 5반</th>
                        <th>이전 6반</th>
                        <th>이전 7반</th>
                        <th>이전 8반</th>
                        <th>기준성적 평균</th>
                        <th>기준성적 최고점(이름)</th>
                        <th>기준성적 최저점(이름)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>3반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>4반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>5반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>6반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>7반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>8반</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="classesContainer" class="class-container"></div>
        <div id="historyContainer">
            <h2>변경 이력</h2>
            <ul id="historyList"></ul>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>
