<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8781468706124486"
     crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-container">
        <h1>로그인</h1>
        <form id="loginForm">
            <input type="text" id="nameInput" placeholder="예: 2학년" required>
            <button type="submit" class="login-button">로그인</button>
        </form>
        <div id="loginMessage"></div>
    </div>
    <script src="/static/js/login.js"></script>
</body>
</html>
